ul.copy
  li 
    a(href='https://github.com/vojtajina') Testacular by Vojta Jina
  li
    a(href='https://github.com/Dignifiedquire') Site by Friedel Ziegelmayer

ul.social
  li
    a(href='http://twitter.com/TestacularJS'
      rel='tooltip'
      data-original-title='@TestacularJS')
      i.icon-twitter.icon-large
  li
    a(href='https://groups.google.com/forum/#!forum/testacular'
      rel='tooltip'
      data-original-title='Mailing List')
      i.icon-envelope-alt.icon-large
  li
    a(href='https://github.com/vojtajina/testacular/issues'
      rel='tooltip'
      data-original-title='GitHub Issues')
      i.icon-beaker.icon-large
  li
    a(href='https://github.com/vojtajina/testacular/'
      rel='tooltip'
      data-original-title='GitHub Repo')
      i.icon-github-alt.icon-large
