- var sections = ['intro', 'config', 'plus', 'dev', 'about']

mixin sidebar(fileList, toh, currentFile, currentSection)
  - currentSection = typeof currentSection === 'undefined' ? 'intro' : currentSection
  .well.sidebar-well
    ul.nav.nav-list
      each heading in fileList[currentSection]
        if heading.name === currentFile
          li.nav-header.active
            a(href='#{heading.name}.html')= heading.name
          each heading in toh
            if heading.rank === 2
              li
                a(href='#{heading.link}')= heading.name
        else
          li.nav-header
            a(href='#{heading.name}.html')= heading.name




mixin navigation(dirs)
  ul.nav
    for section in sections
      li
        a(href='#{section}.html')= section

    // mixin dropdown('intro', dirs.intro)
    // mixin dropdown('config', dirs.config)
    // mixin dropdown('plus', dirs.plus)
    // mixin dropdown('dev', dirs.dev)
    // mixin dropdown('about', dirs.about)

mixin dropdown(name, files)
  li.dropdown
    a.dropdown-toggle(href='#', data-toggle='dropdown')
      = name
      b.caret
    ul.dropdown-menu
      each file in files
        li
          a(href='#{file.link}')= file.name.replace(/\-/g, ' ')
        

mixin versionDropdown(versions, active)
  ul.nav.pull-right
    li.dropdown
      a.dropdown-toggle(href='#', data-toggle='dropdown')
        = 'v' + active
        b.caret
      ul.dropdown-menu
        each version in versions
          - var active = version === active ? 'active' : '';
          li
            a(href='../#{version}/index.html')= version


