- var sections = ['intro', 'config', 'plus', 'dev', 'about']

mixin sidebar(fileList, toh, currentFile, currentSection)
  // Default section
  - currentSection = typeof currentSection === 'undefined' ? 'intro' : currentSection;
  .well.sidebar-well
    ul.nav.nav-list
      each heading in fileList[currentSection]
        if heading.name === currentFile
          li.nav-header.active
            if heading.name === currentSection
              a(href='#{heading.name}.html')
                i.icon-bookmark
                = heading.name
            else
              a(href='#{heading.name}.html')
                i.icon-chevron-down
                = heading.name
              each heading in toh
                if heading.rank === 2
                  li
                    a(href='#{heading.link}')= heading.name
        else
            
          li.nav-header
            a(href='#{heading.name}.html')
              if heading.name === currentSection
                i.icon-bookmark
              else
                i.icon-chevron-right
              = heading.name




mixin navigation(dirs)
  ul.nav
    for section in sections
      li
        a(href='#{section}.html')= section
        

mixin versionDropdown(versions, active)
  ul.nav.pull-right
    li.dropdown
      a.dropdown-toggle(href='#', data-toggle='dropdown')
        = 'v' + active
        b.caret
      ul.dropdown-menu
        each version in versions
          - var active = version === active ? 'active' : '';
          li(class='#{active}')
            a(href='../#{version}/index.html')= version


